.intro__list {
    margin: 0 0 2px 0;
    font-size: 12px;
    line-height: 163%;
    font-weight: 700;
    color: #ffffff;
    padding: 0;
    list-style: none;
  }

  .intro__list:last-child {
    margin: 0 0 0 0;
  }

  @media (max-width: 425px) {
    .intro__list {
      line-height: 150%;
    }
  }