.intro__list {
    margin: 0 0 2px 0;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
    padding: 0;
    list-style: none;
  }

  .intro__list:last-child {
    margin: 0 0 0 0;
  }