.cover {
    margin: 92px auto;
    max-width: 1184px;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .cover {
      max-width: 100%;
    }
  }

  @media (min-width: 426px) and (max-width: 768px) {
    .cover {
      max-width: 100%;
      margin: 90px auto 88px auto;
    }
  }

  @media (max-width: 425px) {
    .cover {
      max-width: 100%;
      margin: 66px auto 64px auto;
    }
  }